@model IEnumerable<Dance.Eticaret.Model.Entity.DanceType>

@{
    foreach (var item in Model)
    {
        <li class="item"><a class="list-group-item-heading" href="/Kategori/@item.Name.Replace(" ","-")/@item.ID">@item.Name</a></li>
        
    }
}